<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blog Sinatra - List Posts</title>
	</head>
	<body>
		<h1><%= @post.title %></h1>
		<p><%= @post.date %></p>
		<p><%= @post.text %></p>
      <a href="/posts_chrono">Go back</a>
    </ul>
	</body>
</html>
