<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blog Sinatra - List Posts in Chronological Order</title>
	</head>
	<body>
		<h1>List Posts in Chronological Order</h1>
		<ul><% @posts_ordered.each_with_index do |post, index| %>
        <li> 
            <a href="/post_chrono_details/<%= index %>"><%= post.title %></a>
        </li>
      <% end %>
      <a href="/posts_index">Go back</a>
    </ul>
	</body>
</html>