<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TodoList - Tasks</title>
	</head>
	<body>
		<p>Your new task</p>
		 <form action="/create_task" method="post">
      		<input type="text" name="content" placeholder="Enter your content task">
      		<button type="submit" name="btn" value="save">Add task</button>
    	</form>
	</body>
</html>